@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

.signup_wrapper {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  max-width: 440px;
  width: 100%;
  border-radius: 16px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -47%);
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* Login & Signup Form CSS Start */
.signup_wrapper .form_signup {
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: whoosh 1s;

}

@keyframes whoosh {
  from {}

  to {
    transform: rotateY(360deg);
  }
}

.signup_wrapper .form_signup .header #trademark_signup {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 3px;
  font-family: 'Titillium Web', sans-serif;
}

.signup_wrapper .form_signup .header {
  display: block;
  flex-direction: column;
  width: 95%;
}

.signup_wrapper .form_signup .header p {
  color: #0a1d37;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid #0a1d37;
}

.signup_wrapper .form_signup form {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.signup_wrapper .form_signup form #error-text {
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  width: 90%;
  margin-bottom: 10px;
  display: none;
}

.signup_wrapper .form_signup form .name-details {
  display: flex;
}

.signup_wrapper .form_signup .name-details .field:first-child {
  margin-right: 10px;
}

.signup_wrapper .form_signup .name-details .field:last-child {
  margin-left: 10px;
}

.signup_wrapper .form_signup form .field {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}

.signup_wrapper .form_signup form .field label {
  margin-bottom: 2px;
  font-size: 17px;
  font-family: 'Work Sans', sans-serif;
}

.signup_wrapper .form_signup form .input input {
  height: 36px;
  width: 100%;
  font-size: 15px;
  font-family: 'Klee One', cursive;
  padding: 0 8px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.267);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px ); */
  border: none;
}

.signup_wrapper .form_signup form .field input {
  outline: none;
}

.signup_wrapper .form_signup form .button input {
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  background: #333;
  border-radius: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
  margin-top: 13px;
}

.signup_wrapper .form_signup form .field i {
  position: absolute;
  right: 15px;
  top: 70%;
  color: #333;
  cursor: url("../Cursor/pointinghand.svg"), default;
  transform: translateY(-50%);
}

.signup_wrapper .form_signup form .field i.active::before {
  color: #333;
  content: "\f070";
}

.signup_wrapper .form_signup .link {
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
}

#go_to_login {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: #333;
  font-size: 17px;
}

#go_to_login:hover {
  text-decoration: underline;
  cursor: url("../Cursor/pointinghand.svg"), default;
}