@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Didact+Gothic&family=Fira+Code:wght@300;400;500&family=JetBrains+Mono:wght@100;200;300&family=Klee+One:wght@400;600&family=Merriweather:wght@300;400&family=Montserrat:wght@100;200;300;400;500;600&family=Noto+Sans&family=Nunito:wght@200;300;400;600;700;800&family=Open+Sans:wght@300;400;500;600&family=Questrial&family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400&family=Rubik:wght@300;400;500;600&family=Shippori+Antique&family=Titillium+Web:wght@200;300;400;600;700&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@300;400&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  cursor: url("../Cursor/default_cursor.svg"), default;
}

*:focus {
  outline: none;
}

body {
  background-image: url("../Background/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Work Sans', sans-serif; 
  background-position: center;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  transition: all 1s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  /* Scroll Bar for Moz */
  scrollbar-color: rgb(202, 202, 202) #f3f3f3;
  scrollbar-width: 13px;
}


/* Class Styling for No Selection */
.none_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
            supported by Chrome, Edge, Opera and Firefox */
}

.STARTUP_SCREEN {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background: rgb(17, 17, 17);
  position: absolute;
  z-index: 10;
  transition: all 3s ease-in-out;
}

.STARTUP_SCREEN_PARENT {
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-60%);
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
}

#STARTUP_TRADEMARK_ICON {
  width: 140px;
}

#STARTUP_TRADEMARK {
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ddd;
}

.STARTUP_SCREEN .loader {
  margin-top: 15px;
  height: 30px;
  width: 30px;
  border: 7px solid transparent;
  border-top-color: #ff9393ef;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

.STARTUP_SCREEN #welcome_loader{
  visibility: hidden;
  color: #ddd;
  margin-top: 25px;

}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

i:before {
  cursor: url("../Cursor/pointinghand.svg"), pointer;
}

i {
  cursor: url("../Cursor/pointinghand.svg"), pointer;
}

/* Navbar Starts from here */
header {
  width: 100%;
  height: 32px;
  position: relative;
  z-index: 9;
  clear: both;
}

.navbar {
  display: flex;
  clear: both;
  height: 100%;
  background: #f8e4e5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 1s ease;
}

.navbar .trademark {
  display: flex;
  margin-left: 10px;
  align-items: center;
  color: #333;
}

.navbar .trademark #trademark_text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18.5px;
  margin-left: 5px;
}

.navbar .trademark #trademark_ico {
  width: 20px;
}

.navbar .main_ul {
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: #333;
  width: 40%;
  height: 100%;
  transition: all 1s ease;
}

.navbar .main_ul .main_li {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  list-style: none;
  padding: 4px 14px;
  color: #333;
  height: 100%;
  cursor: url("../Cursor/pointinghand.svg"), pointer;
  transition: all 0.1s ease;
  position: relative;
}

.navbar .main_ul .main_li #menu_text {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif; 
  font-weight: 700;
  /* margin-top: 2px; */
  text-decoration: none;
  cursor: url("../Cursor/pointinghand.svg"), pointer;
}

.navbar .main_ul .main_li:hover {
  background-color: #2a85f7;
  color: #ddd;
}

.navbar .main_ul .file_dropdown {
  padding-bottom: 17px;
  padding-top: 3px;
  top: 30px;
  background: linear-gradient(#e6e5ea, #e9e7ea);
  display: none;
  flex-direction: column;
  position: absolute;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 170px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s ease;
  z-index: 8;
}

.navbar .main_ul .file_dropdown .file_dropdown_li {
  display: flex;
  align-items: flex-start;
  padding: 2px;
  padding-left: 10px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  color: #333;
  cursor: url("../Cursor/pointinghand.svg"), pointer;
}

.navbar .main_ul .file_dropdown .file_dropdown_li:hover {
  background: linear-gradient(#5a84f6, #1b62f7);
  color: #ddd;
}

.navbar .main_ul .file_dropdown .file_dropdown_li #file_menu_text {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  padding: 3px 3px;
  text-decoration: none;
  cursor: url("../Cursor/pointinghand.svg"), pointer;
}
.navbar .main_ul .file_dropdown .file_dropdown_li #file_menu_text_shortcut {
  position: absolute;
  right: 5px;
  font-size: 13px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  padding: 3px 3px;
  margin-left: 60px;
  text-decoration: none;
  cursor: url("../Cursor/pointinghand.svg"), pointer;
}

.navbar .productivity_bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 60%;
  height: 100%;
}

.utils {
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  height: 100%;
  /* padding: 12px 75px; */
}

.user_details {
  margin-right: 5px;
  text-overflow: ellipsis;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}

#user_welcome {
  display: flex;
  text-overflow: ellipsis;
  text-align: right;
  white-space: nowrap;
  justify-content: end;
  overflow: none;
  width: 10em;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #333;
  transition: all 1s ease;
}

#clock {
  margin-right: 10px;
  margin-top: -2px;
  color: #333;
  font-size: 1.1em;
  font-family: 'Didact Gothic', sans-serif;
}

.dark_mode_btn_home {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  margin-right: 3px;
  background: transparent;
  border: none;
  cursor: url("../Cursor/pointinghand.svg"), pointer;
  color: #000;
  transition: all 0.5s ease;
  pointer-events: auto;
}

.dark_mode_btn_home:hover {
  background: linear-gradient(#5a84f6, #1b62f7);
  transition: all 0.3s ease;
}

.fullscreen_mode_btn {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  height: 100%;
  background: transparent;
  border: none;
  cursor: url("../Cursor/pointinghand.svg"), pointer;
  color: #000;
  transition: all 0.5s ease;
  pointer-events: auto;
}

.fullscreen_mode_btn:hover {
  background: linear-gradient(#5a84f6, #1b62f7);
  transition: all 0.3s ease;
}


a {
  text-decoration: none;
  color: inherit;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* **************************IMPORTANT************************** 
*
* Info: After this there is a file name @TextStorm_window.css
*
* Description: Because of ease. That file contains all the
*              styling of the editor window
*
* **************************************************************/

