.dark_mode_active_home {
    background: #1c1c25;
    background-image: url("../Background/background_night.jpg");
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../Background/background.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    transition: all 1s ease-in-out;
}

.dark_mode_active_home .navbar {
    background-color: #171920d7;
    transition: all 1s ease;
}

.dark_mode_active_home .navbar .trademark {
    color: #ddd;
}

.dark_mode_active_home .navbar .trademark #trademark_text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 550;
}

.dark_mode_active_home .navbar .main_ul {
    color: #ddd;
    transition: all 1s ease;
}

.dark_mode_active_home .navbar .main_ul .main_li {
    color: #ddd;
}


.dark_mode_active_home .navbar .main_ul .file_dropdown {
    background: linear-gradient(#1f2127ce, #171920d7);
    transition: all 1s ease;
}

.dark_mode_active_home .navbar .main_ul .file_dropdown .file_dropdown_li {
    color: #ddd;
}


.dark_mode_active_home .dark_mode_btn_home {
    color: #ddd;
    transition: all 1s ease;
}

.dark_mode_active_home #clock {
    color: #ddd;
    transition: all 1s ease;
}

.dark_mode_active_home .fullscreen_mode_btn {
    color: #ddd;
    transition: all 1s ease;
}

.dark_mode_active_home #user_welcome_button {
    color: #ddd;
    transition: all 1s ease;
}

.dark_mode_active_home .battery_indicator_button {
    color: #ddd;
    transition: all 1s ease;
}

.dark_mode_active_home #battery_level_indication_int {
    color: #ddd;
    transition: all 1s ease;
}




.dark_mode_active_home .error {
    background: #282835;
    color: #ddd;
}

.dark_mode_active_home .error .title_error {
    background: linear-gradient(#434240, #363638);
    color: #ddd;
}

.dark_mode_active_home .error .message {
    background: #282835;
    color: #ddd;
    transition: all 0.5s ease-in-out;
}




.dark_mode_active_home .message_two {
    background: #282835;
    color: #ddd;
}

.dark_mode_active_home .message_two .message_m {
    background: #282835;
    color: #ddd;
}

.dark_mode_active_home .message_two .title_message {
    background: linear-gradient(#434240, #363638);
    color: #ddd;
}



.dark_mode_active_home .message_three {
    background: #282835;
    color: #ddd;
}

.dark_mode_active_home .message_three .message_m_three {
    background: #282835;
    color: #ddd;
}

.dark_mode_active_home .message_three .title_message_three {
    background: linear-gradient(#434240, #363638);
    color: #ddd;
}




.dark_mode_active_home .in_error {
    background: #282835;
    color: #ddd;
}

.dark_mode_active_home .in_error .message_m {
    background: #282835;
    color: #ddd;
}

.dark_mode_active_home .in_error .in_title_error {
    background: linear-gradient(#434240, #363638);
    color: #ddd;
}



.dark_mode_active_home .notification {
    background: linear-gradient(#434240, #363638);
    border-left: 8px solid rgb(185, 185, 185);
    transition: all 1s ease-in-out;
}

.dark_mode_active_home .notification #notification_content .notification_title {
    color: #ddd;
    transition: all 1s ease-in-out;
}

.dark_mode_active_home .notification #notification_content .notification_msg {
    color: rgb(207, 207, 207);
    transition: all 1s ease-in-out;
}

.dark_mode_active_home .notification .close-btn .fas {
    color: rgb(173, 173, 173);
}




.dark_mode_active_home .textstorm_about_wrapper .textstorm_about_report_bug {
    border: 4px #333 solid;
    transition: all 0.5s ease-in-out;
}