
.message_two {
  flex-direction: column;
  width: 290px;
  height: 155px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  left: 50%;
  background-color: GhostWhite;
  border-radius: 0.3rem;
  box-shadow: 0 8px 12px rgb(0 0 0 / 15%);
  overflow: hidden;
  transition: 10s ease all smooth;
  display: none;
  z-index: 2;
}

.title_message {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  color: rgb(126, 81, 81);
  font-size: 13px;
  text-shadow: 0 0 #fff;
  position: relative;
  background: linear-gradient(#eeeeee, #d1d1d1);
  transition: all 0.5s ease-in-out;
}

.message_action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.message_m {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.header_m {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: "Titillium Web", sans-serif;
  transition: all 0.5s ease-in-out;
}

#message_img {
  width: 65px;
  padding-right: 5px;
  transition: all 1.5s ease-in-out;
}

.cross_m {
  /* position: absolute; */
  background: #d83a56;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.max_m {
  /* position: absolute; */
  background: rgb(179, 178, 178);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.min_m {
  /* position: absolute; */
  background: rgb(206, 206, 206);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.ok_m {
  background-color: gainsboro;
  width: 45px;
  height: 30px;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 8px 12px rgb(0 0 0 / 7%);
  cursor: url("../Cursor/pointinghand.svg"), default;
}





.message_three {
  flex-direction: column;
  position: relative;
  width: 420px;
  height: 235px;
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: GhostWhite;
  border-radius: 0.3rem;
  box-shadow: 0 8px 12px rgb(0 0 0 / 15%);
  overflow: hidden;
  transition: 10s ease all smooth;
  transform: translate(50%, -50%);
  display: none;
  z-index: 9;
}

.title_message_three {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  color: rgb(126, 81, 81);
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 0 0 #fff;
  position: relative;
  background: linear-gradient(#eeeeee, #d1d1d1);
  transition: all 0.5s ease-in-out;
}

.message_three_action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.message_m_three {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: all 0.5s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}

.header_m_three {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: "Titillium Web", sans-serif;
  transition: all 0.5s ease-in-out;
}


.cross_m_three {
  /* position: absolute; */
  background: #d83a56;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.max_m_three {
  /* position: absolute; */
  background: rgb(179, 178, 178);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.min_m_three {
  /* position: absolute; */
  background: rgb(206, 206, 206);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.ok_m_three {
  background-color: gainsboro;
  width: 45px;
  height: 30px;
  border: none;
  border-radius: 0.3rem;
  margin-top: 10px;
  box-shadow: 0 8px 12px rgb(0 0 0 / 7%);
  cursor: url("../Cursor/pointinghand.svg"), default;
}




/* Error Window Style */
.error {
  flex-direction: column;
  position: absolute;
  bottom: 5%;
  right: 1%;
  /* margin-left: auto;
  margin-right: auto; */
  width: 394px;
  height: 175px;
  background-color: GhostWhite;
  border-radius: 0.3rem;
  box-shadow: 0 8px 12px rgb(0 0 0 / 15%);
  overflow: hidden;
  display: none;
  z-index: 2;
}

.title_error {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  color: rgb(126, 81, 81);
  font-size: 13px;
  text-shadow: 0 0 #fff;
  position: relative;
  background: linear-gradient(#eeeeee, #d1d1d1);
  transition: all 0.5s ease-in-out;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.error_action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s ease-in-out;
}

.text_error {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

.message {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.header_e {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

#error_img {
  width: 75px;
  padding: 10px;
  transition: all 1.5s ease-in-out;
}

.error_info_text {
  font-size: 13px;
}

.cross_e {
  /* position: absolute; */
  background: #d83a56;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.max_e {
  /* position: absolute; */
  background: rgb(179, 178, 178);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.min_e {
  /* position: absolute; */
  background: rgb(206, 206, 206);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.ok {
  background-color: gainsboro;
  margin-top: 10px;
  width: 65px;
  height: 30px;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 8px 12px rgb(0 0 0 / 7%);
  cursor: url("../Cursor/pointinghand.svg"), default;
  transition: all 0.5s ease-in-out;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}





/* Stability Window Style */
.in_error {
  flex-direction: column;
  position: absolute;
  bottom: 7%;
  right: 1%;
  /* margin-left: auto;
  margin-right: auto; */
  width: 394px;
  height: 185px;
  background-color: GhostWhite;
  border-radius: 0.3rem;
  box-shadow: 0 8px 12px rgb(0 0 0 / 15%);
  overflow: hidden;
  display: none;
  z-index: 2;
}

.in_title_error {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  color: rgb(126, 81, 81);
  font-size: 13px;
  text-shadow: 0 0 #fff;
  position: relative;
  background: linear-gradient(#eeeeee, #d1d1d1);
  transition: all 0.5s ease-in-out;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.in_error_action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s ease-in-out;
}

.in_text_error {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

.in_message {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.in_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

#error_img {
  width: 75px;
  padding: 10px;
  transition: all 1.5s ease-in-out;
}

.error_info_text {
  font-size: 13px;
}

#recommendation{
  font-size: 13px;
  text-decoration: underline;
}

.cross_in {
  /* position: absolute; */
  background: #d83a56;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.max_in {
  /* position: absolute; */
  background: rgb(179, 178, 178);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.min_in {
  /* position: absolute; */
  background: rgb(206, 206, 206);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.ok {
  background-color: gainsboro;
  margin-top: 10px;
  width: 65px;
  height: 30px;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 8px 12px rgb(0 0 0 / 7%);
  cursor: url("../Cursor/pointinghand.svg"), default;
  transition: all 0.5s ease-in-out;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}





/* Account WIndow Style */
.account_win {
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 394px;
  height: 558px;
  border-radius: 0.3rem;
  /* overflow: hidden; */
  cursor: move;
  display: none;
  z-index: 2;
}

.title_account {
  display: flex;
  border-radius: 0.3rem;
  align-items: center;
  width: 100%;
  height: 45px;
  color: rgb(126, 81, 81);
  font-size: 13px;
  text-shadow: 0 0 #fff;
  position: relative;
  background: linear-gradient(#eeeeee, rgb(209, 209, 209));
  transition: all 0.5s ease-in-out;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.account_action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s ease-in-out;
}

.account_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: all 0.5s ease-in-out;
  background: transparent;
}

.cross_ac {
  /* position: absolute; */
  background: #d83a56;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), pointer;
}

.max_ac {
  /* position: absolute; */
  background: rgb(179, 178, 178);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.min_ac {
  /* position: absolute; */
  background: rgb(206, 206, 206);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}


.wrapper_account,
.wrapper_account .img-area_account,
.social-icons a,
.account_buttons button {
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
}

.wrapper_account {
  position: relative;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.wrapper_account .icon {
  font-size: 17px;
  color: #31344b;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  top: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 16px;
}

.wrapper_account .icon i {
  position: relative;
  z-index: 9;
}

.wrapper_account .icon.arrow {
  left: 15px;
}

.wrapper_account .icon.dots {
  right: 15px;
}

.wrapper_account .img-area_account {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-area_account .inner-area_account {
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  border-radius: 50%;
}

.inner-area_account img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.wrapper_account .user_name_account {
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 -2px 0;
  text-align: center;
}

.wrapper_account .user_email_account {
  color: #32344d;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  margin: 0px 0 5px 0;
  text-align: center;
}

.wrapper_account a {
  position: relative;
  text-decoration:underline;
  margin-bottom: 12px;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.wrapper_account .social-icons {
  margin: 15px 0 15px 0;
}

.social-icons a {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.social-icons a:hover::before,
.wrapper_account .icon:hover::before,
.account_buttons button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
    cursor: url("../Cursor/pointinghand.svg"), default;
}

.account_buttons button:hover:before {
  z-index: -1;
  border-radius: 5px;
}

.social-icons a i {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color: #333;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.wrapper_account .account_buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.account_buttons button {
  position: relative;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: url("../Cursor/pointinghand.svg"), default;
  z-index: 1;
}

.wrapper_account .social-share {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-between;
  cursor: url("../Cursor/pointinghand.svg"), default;
}

.social-share .row {
  color: #31344b;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}

.social-share .row::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #e0e6eb;
  margin-left: -25px;
}

.row:first-child::before {
  background: none;
}

.social-share .row i.icon-2 {
  position: absolute;
  left: 0;
  top: 50%;
  color: #31344b;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment {
  opacity: 1;
  pointer-events: auto;
}

